<div id='home-wrap'>
	<div id='welcom'>
		<img [src]="fullImagePath">
		<p> <b>Шановний Гостю</b>, запрошуємо до розвитку та встановлення 
			<b>громадянського суспільства України</b>.</p>
		<p> <b>"ГрУк"</b> - соціальна мережа, що моделює адміністративно-територіальний 
			устрій України, в перспективі, створюючи можливість
			для єднання та коммунікації на різних рівнях цього устрою. 
			Кожен "груківець" має можливість поширювати власний контент 
			крім особистої аудиторії підписників, ще й на рівнях 
			адміністративно-територіального поділу.</p>	
		<p> Соціально-політичні теми, настрої громади, самоорганізація та
			координація діяльності активістів, контроль роботи чиновників на
			різних рівнях - очікувані напрями для загальних площадок комунікації. 
			При цьому, повна свобода самовираження у власному профілі.</p>
		<p> Ласкаво просимо до простору громадянського суспільства України!</p>		

		<ukraine-map></ukraine-map>
	</div>
</div>

